* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.3;
  color: #222;
  background-color: #fff;
}

/* Layout */

.hero {
  height: 40vh;
  background-color: #ccc;
  background-image: url('./images/00_focus-on-systems.jpg');
  background-position: center;
  background-size: cover;
}

header {
  background-color: rgba(0, 180, 175, 0.65);
  transition: 0.5s ease-in-out;
  position: fixed;
  width: 100vw;
  top: 0;
}

#header.scrolled {
  background-color: rgba(160, 180, 175, 0.65);
}

header>*,
.container,
section,
footer {
  padding: 0 3rem;
}

header>*,
.container,
section {
  padding-top: 4rem; /* This keeps the sticky header from overlapping each heading */
  padding-bottom: 5rem;
}

nav {
  margin-top: 2rem;
}

section:nth-of-type(2n+1) {
  background-color: #f3f2f0; /* Matches image background */
}

.separator {
  height: 70vh;
  background-color: #888;
  background-position: center;
  background-size: cover;
}

.separator:nth-of-type(2n) {
  background-color: #ccc;
}

.separator:first-of-type {
  background-image: url('./images/01_winners-losers-same-goals.jpg');
}

.separator:nth-of-type(2) {
  background-image: url('./images/02_repeating-bad-habits-like-a-broken-record.jpg');
}

.separator:nth-of-type(3) {
  background-image: url('./images/03_enjoy-the-process.jpg');
}

.separator:nth-of-type(4) {
  background-image: url('./images/04_the-long-game.jpg');
}

.separator:nth-of-type(5) {
  background-image: url('./images/05_fall-in-love-with-systems.jpg');
}

/* Content */

h1 {
  font-family: 'Courier New', Courier, monospace;
  flex-grow: 1;
  
  padding: 1rem;
  border-radius: 3px;
}

h2 {
  padding-bottom: 0.5rem;
}

p {
  margin-bottom: 0.75rem;
}

li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

li::before {
  content: '\2015';
  color: #ccc;
  position: absolute;
  margin-left: -1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  padding-top: 0.5rem
}
